
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color:  #030728;
}

#root{
  width: 100%;
}
.Currency-converter{
  margin: 0 auto;
  padding: 40px 30px 50px;
  border-radius: 8px;
  max-width: 410px;
  background:rgba(2, 7, 40, 0.5);
  border: 1px solid white;
  backdrop-filter: blur(30px);
  box-shadow:0 8px 32px  rgba(0, 0, 0, 0.5);
}
.Currency-converter .cunverter-title{
  color: white;
  font: 1.6rem;
  font-weight: 600px;
  text-align: center;
}

.Currency-converter .convert-form{
  margin-top: 45px;
}

.convert-form .form-group{
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}
.convert-form .form-group .form-label{
  color: white;
  font-weight: 500;
  display: block;
  margin-bottom: 9px;
  font-size: 1rem;
}
.convert-form .form-group .form-input{
  min-height: 48px;
  border-radius: 6px;
  background:rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  font-size: 1.1rem;
  padding: 0 15px;
  color: white;
  font-weight: 500;
}

.convert-form .form-currency-group{
  flex-direction: row;
  align-items: center;
  justify-content:space-between ;

}
.form-currency-group .currency-select{
  border-radius: 6px;
  background:rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  padding: 0 10px;
  min-height: 45px;
}
.form-currency-group .currency-select img{
  width: 25px;
}
.form-currency-group .currency-select  .currency-dropdown{
outline: none;
border: none;
background: none;
color: gray;
font-weight: 500;
padding: 0 10px;
}
.form-currency-group .currency-selectrm  .currency-dropdown option{
  color: black;
  font-weight: 500;
}

.convert-form .submit-button{
  width: 100%;
  min-height: 52px;
  border-radius: 6px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
transition: 0.2s,ease;}
.convert-form .submit-button:hover{
  background: rgba(255, 255, 255, 0.8);
}
.convert-form p{
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  padding: 25px 0;
  margin-top: 30px;
  border-radius: 6px;
  letter-spacing: 0.5px;
  background: rgba(255, 255, 255, 0.15);
}